@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-size: 62.5%;
}

.first {
}

.foodnet {
	padding-left: 48px;
	padding-bottom: 32px;
}

.mid {
	padding-left: 48px;
	padding-bottom: 32px;
	font-size: 1.6rem;
}

.desc {
	padding-left: 48px;
	padding-bottom: 16pxrem;
	width: 790px;
	font-size: 1.8rem;
	font-weight: 600;
}

.bottom_par {
	padding-left: 32px;
	padding-top: 24px;
	font-size: 1.8rem;
}

* {
	margin: 0px;
  font-family: "Jost", sans-serif;
  font-style: normal;
	box-sizing: border-box;
}


.container{
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

header {
	padding-left: 48px;
	padding-top: 48px;
	a:link, a:visited { color: #000; text-decoration: none; }
	a:hover { color: #ff7556; text-decoration: underline;}
}

nav {
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 20px;
	display: flex;
	align-items: start;
  column-gap: 16px;
}

h1 {
	font-size: 3.2rem;
  color: green;
}

h2 {
	padding-bottom: 16px;
	font-size: 2.4rem;
}

img {
	padding-left: 48px;
	width: 67%;
}


table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  min-width: 32px;
  height: 48px;
  font-size: 1.6rem;
}

th, td {
	text-align: center;
	max-width: 304px;
	font-weight: 500;
}

footer {
	height: 80px;
	background-color: #000;
	a:link, a:visited { color: #FFF; text-decoration: none; }
	a:hover { color: #ff7556; text-decoration: underline;
}

